@font-face {
    font-family: Lato;
    font-weight: normal;
    src: url(../fonts/lato/Lato-Regular.ttf)
}

@font-face {
    font-family: Lato;
    font-weight: normal;
    font-style: italic;
    src: url(../fonts/lato/Lato-Italic.ttf)
}

@font-face {
    font-family: Lato;
    font-weight: bold;
    src: url(../fonts/lato/Lato-Bold.ttf)
}

@font-face {
    font-family: Lato;
    font-weight: bold;
    font-style: italic;
    src: url(../fonts/lato/Lato-BoldItalic.ttf)
}

@font-face {
    font-family: SourceCodePro;
    font-weight: normal;
    src: url(../fonts/source-code-pro/SourceCodePro-Regular.ttf)
}

@font-face {
    font-family: SourceCodePro;
    font-weight: bold;
    src: url(../fonts/source-code-pro/SourceCodePro-Bold.ttf)
}


body {
    margin: 0;
    background-color: #e6e6e6;
    font-family: Lato, Helvetica, Helvetica Neue, Arial, sans-serif;
    font-size: 18px;
    line-height: 1.6em;
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  line-height: 1.8em;
}
/* --- Common Header Styles --- */

header {
    background-color: #313131;
    padding: 3rem 2em 15em;
    margin-bottom: calc(-17em + 3rem);
    text-align: center;
    font-size: 1em;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

header .sitename, header .separator, header .pagename {
    font-size: 3em;
    vertical-align: middle;
    margin: 0 0.1em;
    text-transform: lowercase;
}

header .headertext {
    display: inline-block;
    width: 36rem;
    max-width: calc(100vw - 15rem);
    margin: 0 1rem;
}

@media (max-width: 600px) {
    header {
        text-align: left;
        font-size: 2.6vw;
    }
    header .headertext {
        width: auto;
        max-width: none;
    }
    header .rebble-logo-spacer {
        display: none;
    }
}

header .sitename, header .pagename {
    color: #FFF;
}

header a {
    color: inherit;
    text-decoration: none;
}

header .separator {
    color: #ff4700;
}

/* --- Common Footer Styles --- */

footer {
    background-color: #e6e6e6;
    display: flex;
    flex-flow: column;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 2rem;
    margin: -1rem 0 0;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: relative;
}

/* --- Mailing list registration --- */

div.email-signup {
    text-align: center;
    margin: 1rem 0 .5rem;
}

div.email-signup input[type="email"],
div.email-signup input[type="submit"] {
    margin: 0;
    padding: 0.6rem;
    line-height: normal;
    font-size: 0.9em;
}

div.email-signup input[type="email"] {
    border: 1px solid #777;
    border-right: none;
    border-top-left-radius: 0.2em;
    border-bottom-left-radius: 0.2em;
}

div.email-signup input[type="submit"] {
    background: #D40;
    cursor: pointer;
    color: white;
    border: 1px solid #910;
    border-top-right-radius: 0.2em;
    border-bottom-right-radius: 0.2em;
}

/* --- Index --- */

#index {
    list-style: none;
    display: block;
    text-align: center;
    margin: 0 auto 2rem;
    padding: 0;
    max-width: 36rem;
}

#index li {
    display: inline-block;
    text-transform: uppercase;
}

#index li a {
    text-decoration: none;
    padding: .75em .75em;
    color: #FFF;
}

#index li a.selected {
    border-bottom: 2px solid #FFF;
}

/* --- Logo --- */

.rebble-logo-light, .rebble-logo-dark, .rebble-logo-spacer {
    display: inline-block;
    width: 0.7em;
    height: 1em;
    vertical-align: middle;
}

.rebble-logo-light {
    background: url('../images/rebble-light.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.rebble-logo-dark {
    background: url('../images/rebble-dark.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.rebble-logo-dark.large-icon,
.rebble-logo-light.large-icon,
.rebble-logo-spacer.large-icon {
    font-size: 6em;
}

/* --- Ultratron --- */

#ultratron {
    height: 24rem;
}

/* --- Section styles --- */

section, .post {
    display: block;
    margin: 0 auto 2rem;
    padding: 15px;
    max-width: 46rem;
    width: 100vw;
    box-sizing: border-box;
    background: #f8f8f8;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    overflow: hidden;
}
@media only screen and (min-width : 768px) {
  section, .post {
    padding: 2rem 3rem;
  }
}
.text-content > h2 {
    font-size: 2em;
}
.post h2 {
  text-align: center;
}
.text-content > h2 a {
    color: #444;
    text-decoration: none;
    text-shadow: 2px 0 #f8f8f8, -2px 0 #f8f8f8, 0 2px #f8f8f8, 0 -2px #f8f8f8;
    background-image: linear-gradient(to bottom, #888, #888);
    background-size: auto 2px;
    background-repeat: repeat-x;
    background-position: center 95%;
}

.text-content > .metadata {
    color: #888;
    text-align: right;
    margin: 0;
}

.text-content ul, .text-content ol {
    padding-left: 2em;
    color: #ff4700;
}
.text-content ol ol,
.text-content ul ul {
  padding-left: 1em;
}
a {
    color: #444;
    text-decoration: underline;
}

.text-content code {
    font-family: SourceCodePro, sans-serif;
    background: #DDD;
    padding: 0.1em 0.4em;
    border-radius: 0.2em;
}

section > ul.people {
    list-style: none;
    padding-left: 0;
}

section > ul.people li div.person {
    display: flex;
    align-items: center;
    margin: 0 -1.5rem;
}

section > ul.people li:nth-child(2n) div.person {
    flex-direction: row-reverse;
}

section > ul.people li:nth-child(2n) p {
    text-align: right;
}

section > ul.people li + li {
    padding-top: .5rem;
}

section > ul.people li div.person img {
    border-radius: 50%;
    height: 6em;
    width: 6em;
    flex-shrink: 0;
    flex-grow: 0;
    margin: 0 1.5em;
    box-shadow: 0 0 1rem -.6rem black;
}

section > ul.people li article {
    margin: 2rem -3rem 1.5rem;
    padding: 1.5rem 3rem;
    background: #444;
    position: relative;
    color: white;
}

section > ul.people li article:before {
    position: absolute;
    top: -1rem;
    left: 5rem;
    content: "";
    border-bottom: 1rem solid #444;
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
}

section > ul.people li article a {
    color: #DDD;
    text-decoration: underline;
}

article > ul.people li:nth-child(2n) p:before {
    left: auto;
    right: 5rem;
}

/* --- General text styles --- */

h1, h2, h3, h4, h5, h6 {
    color: #222;
}
