/* 
  because of changing "i" tag with "svg" element, some restyling had to be done.
*/

header {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

header .watch {
  width: 75px;
  height: 108px;
}

header .headertext {
  margin-bottom: 40px;
}

/* --- end of restyling --- */

/* styling for arrows inside the watch */

.arrows {
  transform-origin: 64px 988px;
}

.minute {
  transform: rotate(-120deg);
}

.hour {
  transform: rotate(0deg);
}


/* -- Temporary 'New' for the forum -- */
li > a[href*="forum.rebble.io"] {
  position: relative;
}

li > a[href*="forum.rebble.io"]::before {
  content: "New!";
  position: absolute;
  top: -5px;
  right: 0;
  background: transparent;
  color: rgb(249, 162, 133);
  font-size: 10px;
  padding: 0;
  transform: rotate(15deg);
  pointer-events: none;
  white-space: nowrap;
}
