---
layout: default
title: "Rebble"
date:   2015-06-12 11:56:42
# categories:
---
<div id="posts">
    {% for post in site.posts limit:5 %}
        <article class="post">
            <p class="metadata">{{ post.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
            <h2><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
            {{ post.excerpt }}
        </article>
    {% endfor %}
</div>
