<head>
    <meta charset="utf-8">
    <title>{% if page.title and page.title != site.title %}{{ site.title }} · {{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/css/common.css?version=1.2.0">
    <link rel="stylesheet" href="/css/svg.css?version=1.0.0">

    <meta name="theme-color" content="#373a3c">
</head>
