<div class="email-signup">
    <form action="//ishotjr.us14.list-manage.com/subscribe/post?u=602157eb0bbaa9eb99f18f82a&amp;id=1651ac902e" method="post" name="mc-embedded-subscribe-form" target="_blank">
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_602157eb0bbaa9eb99f18f82a_1651ac902e" tabindex="-1" value=""></div>
        <input type="email" value="" name="EMAIL" id="mce-EMAIL" placeholder="Email address"><input type="submit" value="Subscribe" name="subscribe" class="btn btn-default">
    </form>
</div>
