---
layout: default
title: "Blog"
---
<div id="posts">
    {% for post in paginator.posts %}
        <article class="post">
            <div class="text-content">
                <p class="metadata">{{ post.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
                <h2><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
                {{ post.excerpt }}
            </div>
        </article>
    {% endfor %}
</div>
{% if site.posts == 0 %}
    <section>
        <div class="text-content">
            <p><em>There's nothing here (yet...)</em></p>
            <p>
                In the meantime, check out the <a href="https://discordapp.com/invite/aRUAYFN">
                    Discord Server</a> or subscribe to the mailing list:
            </p>
            {% include mailinglist.html %}
        </div>
    </section>
    <style> footer { display: none; } </style>
{% endif %}

<!-- Pagination links -->
{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | relative_url }}">&laquo; Prev</a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ paginator.previous_page_path | relative_url }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | relative_url }}">Next &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %}