section, .post, .post-wide, footer {
    background-color: $rebble-color !important;
    color: $white-color !important;
	box-shadow: none;
}

h1, h2, h3, h4, h5, a {
    color: $white-color;
}

.orange {
    color: $pebble-color;
}