@font-face {
    font-family: Lato;
    font-weight: normal;
    src: url(../fonts/lato/Lato-Regular.ttf)
}

@font-face {
    font-family: Lato;
    font-weight: normal;
    font-style: italic;
    src: url(../fonts/lato/Lato-Italic.ttf)
}

@font-face {
    font-family: Lato;
    font-weight: bold;
    src: url(../fonts/lato/Lato-Bold.ttf)
}

@font-face {
    font-family: Lato;
    font-weight: bold;
    font-style: italic;
    src: url(../fonts/lato/Lato-BoldItalic.ttf)
}

@font-face {
    font-family: SourceCodePro;
    font-weight: normal;
    src: url(../fonts/source-code-pro/SourceCodePro-Regular.ttf)
}

@font-face {
    font-family: SourceCodePro;
    font-weight: bold;
    src: url(../fonts/source-code-pro/SourceCodePro-Bold.ttf)
}