/* --- Common footer styles --- */
footer {
	background-color: $body-background-color;
	display: flex;
	flex-flow: column;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 2rem;
	margin: -1rem 0 0;
	align-items: center;
	text-align: center;
	justify-content: center;
	position: relative;
}

.footer-icon {
	height: 30px;
	width: 30px;
	margin-left: 10px;
}
