/* --- Rebble site style variables --- */

/* -- Colors -- */
$pebble-color: #ff4700;
$header-color: #373a3c;
$background-color: #F4F3F4;
$section-background-color: #fff;

$background_color_3: #383a3c;
$background_color_5: #666666;

$header-title-color: #FFF;

$color_1: #FFF;
$color_2: inherit;
$color_3: #888;
$color_4: white;
$color_5: #444;
$color_6: #DDD;
$heading-color: #222;
$color_8: #fff;
$color_9: rgb(223, 223, 223);

/* --- Fonts --- */
$main-font: Lato, Helvetica, Helvetica Neue, Arial, sans-serif;
$code-font: SourceCodePro, sans-serif;

/* --- Effects --- */
$section-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);